/*
 * stylesheet.css v-1.0.0 
 */

/* variable */
:root {
  --gray-000: #f8f9fa;
  --gray-100: #f1f3f5;
  --gray-200: #e9ecef;
  --gray-300: #dee2e6;
  --gray-400: #ced4da;
  --gray-500: #adb5bd;
  --gray-600: #868e96;
  --gray-700: #495057;
  --gray-800: #343a40;
  --gray-900: #212529;
  
  --blue: #228be6;
  --green: #40c057;
  --yellow: #fab005;
  --red: #fa5252;
  --white: #fff;
  --black: #000;
  
  --link-color: var(--blue);
  --border-color: var(--gray-500);
  --fg-color: var(--gray-800);
  --bg-color: #fff;
  
  --spacer: 1em;
  --spacer-2: calc(var(--spacer) * 1.5);
  --spacer-3: calc(var(--spacer) * 3);
  
  --system-font: -apple-system, BlinkMacSystemFont, "Segoe UI",
 Helvetica, Arial, sans-serif,
 "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

/* base style */
* {
  box-sizing: border-box;
}

html,
body {
  font-family: "ibm-plex-sans", var(--system-font);
  font-size: 16px;
  line-height: 1.5;
  color: var(--fg-color);
  background-color: var(--bg-color);
}

@media (min-width: 25em) {
  body {
    font-size: 20px;
  }
}

a {
  color: var(--link-color);
  text-decoration: none;
}

a:hover,
a:focus {
  text-decoration: underline;
}

img {
  width: 100%;
  height: auto;
}

table {
  margin-bottom: var(--spacer);
  width: 100%;
  font-size: 80%;
  border: 0 solid var(--border-color);
  border-collapse: collapse;
}

td,
th {
  padding: .5em .5em;
  border-color: inherit;
  border-style: solid;
  border-width: 0;
  border-bottom-width: 1px;
}

th {
  text-align: left;
}

thead th {
  border-bottom-color: currentColor;
}

table caption {
  caption-side: bottom;
  text-align: left;
  color: var(--gray-700);
}

figure {
  margin: 0;
  padding: 0;
}

.figure {
  margin-bottom: var(--spacer);
}

figcaption {
  font-size: 80%;
  color: var(--gray-700);
}

/* typography */
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: .25em;
  padding-top: .5em;
  line-height: 1.25;
  font-weight: 700;
}

h1 {
  font-size: 1.75em;
}

h2 {
  font-size: 1.5em;
}

h3,
h4,
h5,
h6 {
  font-size: 1.25em;
}

p {
  margin-top: 0;
  margin-bottom: var(--spacer);
}

small {
  font-size: 80%;
} 

ul, ol, dl {
  margin-top: 0;
  margin-bottom: var(--spacer);
}

dt {
  font-weight: bold;
}

dd {
  margin-left: var(--spacer-2);
  margin-bottom: var(--spacer);
}

hr {
  position: relative;
  margin: var(--spacer-2) 0;
  border: 0;
  border-top: 1px solid var(--border-color);
}

blockquote {
  margin-bottom: var(--spacer);
  margin-left: var(--spacer-2);
  color: var(--gray-700);
}

blockquote p:last-child {
  margin-bottom: 0;
}

code {
  font-size: 80%}
  color: var(--gray-700);
  background-color: var(--gray-000);
}

pre {
  display: block;
  margin-top: 0;
  overflow: auto;
}

/* *** */

/* jekyll syntax highlighting */
.highlight {
  margin-bottom: var(--spacer);
  padding: .5em;
  background-color: var(--gray-000);
}

/* footnote */
/* footnote number within body text */
a[href^="#fn:"],
/* Back to footnote link */
a[href^="#fnref:"] {
  display: inline-block;
  margin-left: .1em;
  font-weight: bold;
}

/* List of footnotes */
.footnotes {
  margin-top: var(--spacer-3);
  padding-top: var(--spacer);
  font-size: 80%;
  color: var(--gray-700);
  border-top: 1px solid var(--border-color);
}

/* layout */
.container {
  max-width: 25em;
  padding-left: 24px;
  padding-right: 24px;
  margin-left:  auto;
  margin-right: auto;
}
  
@media (min-width: 25em) {
  .container {
    max-width: 30em;
  }
}

/* spacing */
/* margin */
.m-0 {
  margin: 0;
}

.mt-1 {
  margin-top: var(--spacer);
}

.mt-2 {
  margin-top: var(--spacer-2);
}

.mt-3 {
  margin-top: var(--spacer-3);
}

.mb-1 {
  margin-bottom: var(--spacer);
}

.mb-2 {
  margin-bottom: var(--spacer-2);
}

.mb-3 {
  margin-bottom: var(--spacer-3);
}

/* padding */
.p-0 {
  padding: 0;
}

.pt-1 {
  padding-top: var(--spacer);
}

.pt-2 {
  padding-top: var(--spacer-2);
}

.pt-3 {
  padding-top: var(--spacer-3);
}

.pb-1 {
  padding-bottom: var(--spacer);
}

.pb-2 {
  padding-bottom: var(--spacer-2);
}

.pb-3 {
  padding-bottom: var(--spacer-3);
}

/* utility */
/* text */
.text-dark {
  color: var(--fg-color);
}

.text-secondary {
  color: var(--gray-700);
}

.text-muted {
  color: var(--gray-600);
}

/* font */
.fw-light {
  font-weight: 300;
}

.fw-normal {
  font-weight: 400;
}

.fw-bold {
  font-weight: 700;
}

/* message */
.msg {
  padding: .5em;
  font-size: 80%;
  color: var(--gray-600);
  border: 1px solid var(--border-color);
}

/*
 * end
 */











